.detail-table {
    margin-bottom: 40px;
    width: 80%;
}

.detail-table th {
    color: black;
    font-size: 30px;
}

.detail-table td {
    color: black;
    font-size: 30px;
    width: 70%;
}

.detail-table tr {
    padding: 90px;
}

@media only screen and (max-width: 600px) {
    .detail-table {
        width: 100%;
    }
}