.header {
  background-image: url(./img/terra1-7.png);
  box-shadow: 0px 0px 8px 8px #444444;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: 10vh;
  display: flex;
  align-items: center;
}

.footer {
  background-image: url(./img/terra1-7.png);
  width: 100%;
  height: 2.5rem;   
}

.container {
  min-height: 100vh;
  height: 100%;
  background-image:
  linear-gradient(
      rgba(255, 255, 255, 0.80), 
      rgba(255, 255, 255, 0.80)
  ),
  url(./img/terra1-6.png);
  background-repeat: repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.sections {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

body {
  text-align: center;
}

h1 {
  font-family: Lum3;
  font-size: 2.5em;
  letter-spacing: 2px;
  margin-left: 15px;
}

h1:hover {
  color: black;
}

h2 {
  font-family: Lum2;
  font-size: 3em;
  letter-spacing: 1px;
}

p {
  width: 80%;
  font-weight: bold;
}

button {
  box-shadow: 0px 4px 2px #444444;
  background: url(./img/terra1-7.png);
  border:        0px solid #000000;
  border-radius: 3px;
  padding:       5px 8px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal 20px/1 "Calibri", sans-serif;
  text-align:    center;
  margin: 4px;
}

button:hover {
  background: url(./img/terra1-6.png);
  border:        1px solid #000000;
  padding:       4px 7px;
  color:         black;
  cursor: pointer;
}

input, textarea, select {
  width: 60vw;
  border-radius: 5px;
  box-shadow: 0 0 2px #000;
  border: none;
  padding: 5px;
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bolder;
  font-size: larger;
}

input:hover, textarea:hover {
  box-shadow: 0 0 6px #000;
}

@font-face {
  font-family: Lum1;
  src: url(./font/Lumiera.woff);
}
@font-face {
  font-family: Lum2;
  src: url(./font/LumieraHandwriting.woff);
}
@font-face {
  font-family: Lum3;
  src: url(./font/LumieraRough.woff);
}