* {
  border: solid 1px black;
}

.header {
  background-image: url(./img/terra1-7.png);
  
}

body {
  text-align: center;
}

table {
  width: 100%;
}

h1 {
  font-family: Lum3;
  font-size: 2.5em;
  letter-spacing: 2px;
}

@font-face {
  font-family: Lum1;
  src: url(./font/Lumiera.woff);
}
@font-face {
  font-family: Lum2;
  src: url(./font/LumieraHandwriting.woff);
}
@font-face {
  font-family: Lum3;
  src: url(./font/LumieraRough.woff);
}